{% extends "base.html" %}

{% block title %}500{% endblock %}

{% block page_content %}
<head>
<style>
body{
    background: #0B0B3B
</style>
</head>
<p style="text-align: center;font-weight: Courier ;font-size: 40px;color:white">El archivo al que hace referencia no existe.</p><br>
<p style="text-align: center;font-weight: Courier ;font-size: 25px;color:white"> Verifique que el archivo se encuente en la carpeta HoneyBee.</p><br>
<p style="text-align: center;font-weight: Courier ;font-size: 25px;color:white"> El nombre del archivo debe ser datos.csv.</p><br>
{% endblock %}