{% extends "base_ingresado.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Clientes{% endblock %}

{% block page_content %}
<div>
  <h1> {{ wtf.quick_form(form) }} </h1>
    <h1 class="header">RESULTADO DE BUSQUEDA</h1>
  <div >
    <table class="table" style=" text-align: center; margin: 0 auto">
      <thead>
        <tr>
          <th>CODIGO</th>
          <th>CLIENTE</th>
          <th>PRODUCTO</th>
          <th>CANTIDAD</th>
        </tr>  
      </thead>
      <tbody>
        {% for key,value in tabla.iterrows() %}
        <tr>
          <td>{{ value['CODIGO'] }}</td>
          <td>{{ value['CLIENTE'] }}</td>
          <td>{{ value['PRODUCTO'] }}</td>
          <td>{{ value['CANTIDAD'] }}</td>
        </tr>  
        {% endfor %}  
      </tbody>  
    </table>
  
{% endblock %}


